.header {
    position: fixed;
    margin: 0;
    top: 0;
    background: #3b5998;
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;
}
.HC {
    margin: auto auto;
    text-align: center;
    
}